// fonts
$font-default: "proxima-nova", "Tahoma", sans-serif;

// colors
$color-main: #82b284;
$color-text: #3b3b3b;
$color-black: #000000;
$color-white: #ffffff;

$color-icon-trash: #d95151;
$color-icon-cross: #e55740;

$color-menu-bg: #f7f7f7;
$color-menu-btn-bg: #eeeeee;
$color-menu-line: #a4c7a5;

$color-sidebar-title: #42425d;

$color-card-title: #222222;
$color-card-line: #e5e5e5;

$color-footer-text: #bfbfbf;

$color-modal-btn: #b9b9b9;

$color-table-title: $color-text;
$color-table-descr: #808080;
$color-table-text: $color-text;

$color-attach-title: #343434;
$color-attach-file: #d7d7d7;
