// fonts
$font-default: "Proxima Nova", "Tahoma", sans-serif;

// colors
$color-main: #82b284;
$color-text: #3b3b3b;
$color-black: #000000;
$color-white: #ffffff;

$color-menu-bg: #f7f7f7;
$color-menu-line: #a4c7a5;

$color-sidebar-title: #42425d;

$color-card-title: #222222;
$color-card-line: #e5e5e5;

$color-footer-text: #bfbfbf;

$color-table-title: $color-text;
$color-table-description: #808080;
$color-table-text: $color-text;

$color-attach-title: #343434;
$color-attach-file: #d7d7d7;
