.table {
  border-collapse: collapse;
}

.table__descr {
  width: 162px;
  margin-right: 12px;
  padding: 0;

  @include font;
  vertical-align: baseline;
  color: $color-table-descr;

  padding-right: 12px;
  padding-bottom: 12px;
}

.table__text {
  padding: 0;

  @include font;
  vertical-align: baseline;
  color: $color-table-text;

  padding-bottom: 12px;

  & a {
    cursor: pointer;

    @extend %transition;
  }

  & a[href^="tel"] {
    color: $color-table-text;

    &:hover,
    &:focus {
      color: darken($color-table-text, 25%);
    }
  }

  & a[href^="mailto"] {
    color: $color-main;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: darken($color-main, 25%);
    }
  }
}

tr:last-child .table__descr,
tr:last-child .table__text {
  // border-bottom: 0;
  padding-bottom: 0;
}
