.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 -1px 0 0 $color-card-line inset;
}

.card-top__btn-back {
  display: flex;
  align-items: center;
  padding: 0;

  @include font(16px, 20px, 600);
  color: $color-main;
  text-transform: uppercase;

  background-color: transparent;
  border: 0;
  cursor: pointer;

  @extend %transition;

  &:hover,
  &:focus {
    color: darken($color-main, 25%);
  }

  &:hover .card-top__btn-back-img,
  &:focus .card-top__btn-back-img {
    fill: darken($color-main, 25%);
  }
}

.card-top__btn-back-img {
  width: 16px;
  height: 12px;
  margin-right: 16px;

  fill: $color-main;

  @extend %transition;
}

.card-top__btn-back-text {
  @media (max-width: 800px - 1) {
    display: none;
  }
}

.card-top__list-btn {
  display: flex;
}

.card-top__btn {
  margin-right: 24px;
  padding: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &--link .card-top__btn-img,
  &--arch .card-top__btn-img {
    fill: $color-main;
  }

  &--link:hover .card-top__btn-img,
  &--link:focus .card-top__btn-img,
  &--arch:hover .card-top__btn-img,
  &--arch:focus .card-top__btn-img {
    fill: darken($color-main, 25%);
  }

  &--del .card-top__btn-img {
    fill: $color-icon-trash;
  }

  &--del:hover .card-top__btn-img,
  &--del:focus .card-top__btn-img {
    fill: darken($color-icon-trash, 25%);
  }
}

.card-top__btn-img {
  display: block;
  width: 24px;
  height: 24px;

  @extend %transition;
}
