.card-block {
  padding: 28px 0 28px 0;

  box-shadow: 0 -1px 0 0 $color-card-line inset;
}

.card-block__title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 28px;

  @include font(18px, 26px, 300);
  color: $color-table-title;
  text-transform: uppercase;

  &--big {
    margin-bottom: 0;

    font-size: 24px;
    line-height: 30px;
    color: $color-card-title;
    text-transform: none;
  }
}

.card-block__title-text {
  margin-right: 12px;
}

.card-block__title-btn {
  width: 24px;
  height: 24px;
  padding: 4px;

  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:hover .card-block__title-btn-img,
  &:focus .card-block__title-btn-img {
    stroke: darken($color-main, 25%);
  }
}

.card-block__title-btn-img {
  width: 16px;
  height: 16px;

  fill: transparent;
  stroke: $color-main;
}

.card-block__attach-list {
  margin-bottom: 32px;
}

.card-block__attach {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}
