.card-bottom {
  padding: 40px 20px 60px 20px;
}

.card-bottom__copyright {
  margin: 0;
  margin-bottom: 14px;

  @include font(12px, 14px, 400, center);

  color: $color-footer-text;

  &:last-child {
    margin-bottom: 0;
  }

  & a[href^="tel"] {
    text-align: center;
    color: $color-footer-text;

    cursor: pointer;

    @extend %transition;

    &:hover,
    &:focus {
      color: darken($color-footer-text, 25%);
    }
  }
}
