.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48px;
  height: 100vh;

  background-color: $color-main;
}

.main-menu__company {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

.main-menu__account {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;

  box-shadow: 0 -9px 0 -8px $color-menu-line;
}

.main-menu__btn {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  padding: 5px;

  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover .main-menu__btn-img,
  &:focus .main-menu__btn-img {
    fill: darken($color-white, 25%);
    stroke: darken($color-white, 25%);
  }
}

.main-menu__btn-img {
  display: block;
  width: 20px;
  height: 20px;

  fill: $color-white;
  stroke: $color-white;

  @extend %transition;
}
