.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48px;
  height: 100vh;

  background-color: $color-main;
}

.main-menu__company {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

.main-menu__account {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;

  box-shadow: 0 -9px 0 -8px $color-menu-line ;
}

.main-menu__btn {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  padding: 5px;

  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }
}

.main-menu__btn-img {
  display: block;
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center;
}

.main-menu__btn--home .main-menu__btn-img {
  background-image: url("../../img/icon-menu-home.svg");
}

.main-menu__btn--items .main-menu__btn-img {
  background-image: url("../../img/icon-menu-bag.svg");
}

.main-menu__btn--sol .main-menu__btn-img {
  background-image: url("../../img/icon-menu-tools.svg");
}

.main-menu__btn--add .main-menu__btn-img {
  background-image: url("../../img/icon-menu-catalog.svg");
}

.main-menu__btn--set .main-menu__btn-img {
  background-image: url("../../img/icon-menu-set.svg");
}

.main-menu__btn--docs .main-menu__btn-img {
  background-image: url("../../img/icon-menu-docs.svg");
}

.main-menu__btn--search .main-menu__btn-img {
  background-image: url("../../img/icon-menu-search.svg");
}

.main-menu__btn--chat .main-menu__btn-img {
  background-image: url("../../img/icon-menu-chat.svg");
}

.main-menu__btn--acc .main-menu__btn-img {
  background-image: url("../../img/icon-menu-account.svg");
}

.main-menu__btn--exit .main-menu__btn-img {
  background-image: url("../../img/icon-menu-exit.svg");
}